body{
    background: linear-gradient(#3A1DA3 0%, #4C26D6 50%, #3A1DA3 100%)
}

.secRacas{
    display: grid;
}

.tituloGrande{
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    color: #FDEEC0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6D271A;
    max-width: 600px;
    text-transform: uppercase;
    text-align: center;
    grid-column: 2 / 7;
    grid-row: 1 / 2;
}

.racas{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    color: #FDEEC0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6D271A;
    max-width: 600px;
    text-transform: uppercase;
    text-align: center;
}

.divRacas{
    background-color: #AD8FDE;
    border: 1px solid black;
    border-radius: 40px;
    max-width: 450px;
}

.pRacas{
    padding: 5px;
    font-family: "Rubik", sans-serif;
    text-align: start;
}

/* Posicionamento do traço e das bolinhas pretas */

.bolaCima{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: center;
}

.traco{
    grid-column: 4 / 5;
    grid-row: 3 / 13;
    justify-self: center;
}

.bolinha1{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    align-self: center;
}

.bolinha2{
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    align-self: center;
}

.bolinha3{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    align-self: center;
}

.bolinha4{
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    align-self: center;
}

.bolinha5{
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    align-self: center;
}

.bolinha6{
    grid-column: 5 / 6;
    grid-row: 8 / 9;
    align-self: center;
}

.bolinha7{
    grid-column: 3 / 4;
    grid-row: 9 / 10;
    align-self: center;
}

.bolinha8{
    grid-column: 5 / 6;
    grid-row: 10 / 11;
    align-self: center;
}

.bolinha9{
    grid-column: 3 / 4;
    grid-row: 11 / 12;
    align-self: center;
}

.bolinha10{
    grid-column: 5 / 6;
    grid-row: 12 / 13;
    align-self: center;
}

.bolaBaixo{
    grid-column: 4 / 5;
    grid-row: 13 / 14;
    justify-self: center;
}

/* Fim do posicionamento */

.abacot{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
}

.txtAbacot{
    grid-column: 5 / 8;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: center;
}

.rouen{
    grid-column: 6 / 8;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
}

.txtRouen{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    justify-self: end;
    align-self: center;
}

.muscovy{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: center;
}

.txtMuscovy{
    grid-column: 5 / 8;
    grid-row: 5 / 6;
    justify-self: start;
    align-self: center;
}

.cayuga{
    grid-column: 6 / 8;
    grid-row: 6 / 7;
    justify-self: center;
    align-self: center;
}

.txtCayuga{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    justify-self: end;
    align-self: center;
}

.bali{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    justify-self: center;
    align-self: center;
}

.txtBali{
    grid-column: 5 / 8;
    grid-row: 7 / 8;
    justify-self: start;
    align-self: center;
}

.ancona{
    grid-column: 6 / 8;
    grid-row: 8 / 9;
    justify-self: center;
    align-self: center;
}

.txtAncona{
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    justify-self: end;
    align-self: center;
}

.pekin{
    grid-column: 1 / 3;
    grid-row: 9 / 10;
    justify-self: center;
    align-self: center;
}

.txtPekin{
    grid-column: 5 / 8;
    grid-row: 9 / 10;
    justify-self: start;
    align-self: center;
}

.saxony{
    grid-column: 6 / 8;
    grid-row: 10 / 11;
    justify-self: center;
    align-self: center;
}

.txtSaxony{
    grid-column: 1 / 4;
    grid-row: 10 / 11;
    justify-self: end;
    align-self: center;
}

.indianRunner{
    grid-column: 1 / 3;
    grid-row: 11 / 12;
    justify-self: center;
    align-self: center;
}

.txtIndianRunner{
    grid-column: 5 / 8;
    grid-row: 11 / 12;
    justify-self: start;
    align-self: center;
}

.blueSwedish{
    grid-column: 6 / 8;
    grid-row: 12 / 13;
    justify-self: center;
    align-self: center;
}

.txtBlueSwedish{
    grid-column: 1 / 4;
    grid-row: 12 / 13;
    justify-self: end;
    align-self: center;
}

/* Formulário */

label{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FDEEC0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6D271A;
    text-align: center;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

select{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

textarea{
    border: 1px solid black;
    border-radius: 10px;
}

.radio{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 180px;
}

.pForm{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    color: #FDEEC0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6D271A;
    text-align: start;
}